### Gradle ###
**/.gradle/
**/build/
!**/gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
**/.idea/
*.iws
*.iml
*.ipr
**/out/

### STS ###
**/.apt_generated/
**/.classpath
**/.factorypath
**/.project
**/.settings/
**/.springBeans
**/.sts4-cache/
**/bin/

### VS Code ###
**/.vscode/

### Secret config ###
**/src/main/resources/application.yml
**/src/main/resources/application.yaml
**/src/main/resources/application.properties

### Safe exception ###
!chapter05-external-api/src/main/resources/application.properties
!**/src/main/resources/application-example.yml
!**/src/main/resources/application-example.yaml
!**/src/main/resources/application-example.properties